:root {
  --sidebar-color: #383838;

  --sortlist-button-color: #747474;
}

html,
body,
App {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .App {
    flex-direction: row;
  }
}

aside {
  order: 1;
}

.map,
aside {
  width: 100%;
}

aside {
  flex-basis: 25vh;
  background-color: brown;
  flex-grow: 0;
  flex-shrink: 1;

  background-color: var(--sidebar-color);
  color: white;
  overflow-y: auto;
}

.map {
  display: block;
  flex-basis: 75vh;
  height: 0; /* Why do I need this in Chromium-based browsers? Flexbug? */
  flex-grow: 1;
  flex-shrink: 0;
}

@media screen and (min-width: 800px) {
  aside {
    order: initial;
  }

  aside,
  .map {
    width: auto;
    height: 100vh;
  }

  aside {
    flex-basis: 25vw;
  }

  .map {
    flex-basis: 75vw;
  }
}

/* SortableList */
.sortlist {
  list-style: none;
  padding: 0;
}

.sortlist__item {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.sortlist__item__name {
  flex: 1 0 auto;
}

.sortlist__item button {
  cursor: pointer;
  flex: 0 0 auto;
  background-color: var(--sidebar-color);
  color: var(--sortlist-button-color);
  border: none;
  box-shadow: none;
  font-size: 20px;
  line-height: 0;
}

.sortlist__item button:first-child {
  cursor: move;
  cursor: grab;
}

.sortlist__item button svg {
  fill: currentColor;
}
